@model BookingHotel_090.Models.Petuga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Petuga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Nama Petugas")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPetugas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPetugas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
